body{
    background: lightgray;
    font-family: sans-serif;
    font-size: 16px;
}

.device{
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    background: whitesmoke;
    border:3px solid #333;
    overflow-x: scroll;
}

.main{
    padding: 10px;    
}

.selection{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.selection .btn{
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 25px;
}